.mhead_imgs {
  width: 90%;
  margin: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  
}

.mrestoImgs > img {
  width: 12rem;
}

.mrestoImgs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: auto;
}

.mhead_imgs> p{
    font-size: 1.8rem;
    font-weight: 700;
}