.outerS {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 1rem;
}
.outerLogoS >img {
  width: 16rem;
  height: 4rem;

}

.outerS > .outerLogoS {
  display: flex;
  justify-content: center;
}

.emailDivS {
  display: flex;
  flex-direction: column;

 
}
.email, .password,.userNameS, .phone {
    display: flex;
    flex-direction: column;
    /* gap: .3rem; */
}



#userName, #phone, #email, #password {
  height: 2rem;
  width: 22rem;
  padding-left: 1rem;
  /* margin-bottom: 0.3rem; */
  border: 1px solid #00000066;
  border-radius: 6.5rem;
  font-size: 1rem;
}

/* p{
    margin-top: .5rem;
} */

.wlcmS {
  font-weight: 600;
  font-size: 1.7rem;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}
.paraS {
  color: #313957;
  /* margin-bottom:1rem; */
}

.conBtn {
  margin: 0.5rem 0 0.7rem;
  background: #fc8a06;
  border-radius: 6.5rem;
  height: 2rem;
  width: 23rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
}

label,
span {
  font-weight: 400;
}

span > span {
  color: #fc8a06;
}

span {
  text-align: center;
}

@media screen and (max-width: 1420px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1140px) {
    html {
      font-size: 70%;
    }
  }

  @media screen and (max-width: 1000px) {
    html {
      font-size: 60%;
    }
  }

  @media screen and (max-width: 860px) {
    html {
      font-size: 60%;
    }
  }
